@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    color: white;
    margin: 0;
    font-family: "Poppins";
    background-color: #181a1a;
    min-height: 100vh;
    font-size: 17px;
}

input {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

.weather {
    text-align: center;
    font-size: 2rem;
}

.weather h2 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
#search-btn {
    padding: 1rem;
        border-radius: 25px;
        border: none;
        background-color: #a7d7df;
        font-family: inherit;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        min-width: 10px;
        font-size: 1rem;
        cursor: pointer;
}

#weather-info {
    display: none;
}

.card {
    background-color:#b8cbd1d6;
    padding: 10px;
}

#history-list li {
    list-style:none;
    cursor: pointer;
}
.history-list-item:hover {
    display:inline-block;
    color: #5fd7ea;
    font-size: 1.5em;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out; 
    }

.past-searches {
    position: absolute;
    top: 55px;
    right:20px;
    width: 250px;
    border:2px solid #5fd7ea;
}

#history-list {
    position: absolute;
    top: 100px;
    right:200px;
    
}
